# dependencies
/node_modules
/.expo
/.expo-shared

# dotenv environment variables
.env
.env.*

# production
/dist
/build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# VSCode
.vscode/
